* text=auto eol=lf

*.sh text eol=lf
*.bash text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.desktop text eol=lf
*.iss text eol=lf
*.plist text eol=lf
*.pbxproj text eol=lf
*.xcconfig text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.rc text eol=lf

*.png binary
*.ico binary
*.icns binary
*.svg binary
*.vec binary
*.lottie binary
*.zip binary
*.dmg binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.msi binary
